.App {
  /* margin: 0 200px; */
  /* @media screen and (max-width: 1080px) {
    margin: 0 400px;
  } */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header {
  /* text-align: center; */
  font-size: 3rem;
  padding: 10px 0 10px 0;
}
